<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header text-center">
        <h2>Log in</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="field-label">Email ID:</label>
                    <%= f.input :email, label:false, :wrapper => false, required: false, autofocus: true, input_html: {class: "form-control", maxlength: 50, minlength: 1 }, placeholder: "Email ID....." %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="field-label">Password:</label>
                    <%= f.input :password, label:false, :wrapper => false, required: false, input_html: {class: "form-control", maxlength: 50, minlength: 1 }, placeholder: "Password....." %>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class="col-md-6">
                  <div class="form-actions">
                    <div class="form-group">
                      <%= f.button :submit, "Log in", class:'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

