<!DOCTYPE html>
<html>
  <head>
    <title>FeedBack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <span class="notice text-center hide"><%= notice %></span>
    <span class="alert text-center hide"><%= alert %></span>

    <%= yield %>
  </body>
</html>
